.test {
    background-image: url('../assets/homeBg.svg');
    background-position: center;
    background-size: cover;
    min-height: 100%;
}

.container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.textContainer {
    text-align: center;
    width: 70%;
}

.aboutText {
    margin-bottom: 4rem;
}

.startBtn {
    font-size: 1.6rem;
    color: #6F4938;
    text-transform: uppercase;
    background: #FF9C1D;
    padding: 1.5rem 4rem;
    letter-spacing: 1px;
    border-radius: 5px;
    font-weight: 700;
}