.container {
    width: 80%;
    margin: 0 auto;
}

.gridContainer {
    /* display: grid;
    grid-auto-flow: column;
    height: 28rem;
    gap: 2rem; */

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 28rem;
}

.questionTitle {
    margin-bottom: 4rem;
}